<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/app.css">
    <title>Tricolore - Page View</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Tricolore</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto"></ul>
                <form class="form-inline my-2 my-lg-0 mr-4">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                </form>

                <button type="button" class="btn btn-dark"><i class="fas fa-sign-in-alt"></i> Login</button>
                <button type="button" class="btn btn-dark ml-2"><i class="fas fa-user-plus"></i> Sign up</button>
                
                <!-- <div class="dropdown">
                    <a href="#" class="dropdown-toggle text-decoration-none" id="dropdownMenuButton" data-reference="parent" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                        <img src="../assets/img/avatar_blank.jpg" class="rounded" width="42" alt="Avatar" />
                        <span class="user-avatar-hot">
                            <i class="text-danger fab fa-hotjar"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <div class="ml-4 text-muted">Hello, Maciej</div>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Notifications</h6>
                        <a class="dropdown-item" href="#"><span class="badge badge-danger">New</span> <i class="fas fa-plus-circle"></i> You are recived reputation point in post <b>#81</b></a>
                        <a class="dropdown-item" href="#"><span class="badge badge-danger">New</span> <i class="fas fa-at"></i> @Yump mentioned you in post <b>#588</b></a>
                        <a class="dropdown-item" href="#"><i class="fas fa-comment-alt"></i> You recived direct message from <b>@buku3</b></a>
                        <a class="dropdown-item" href="#"><i class="fas fa-plus-circle"></i> You are recived reputation point in post <b>#11</b></a>
                        <a class="dropdown-item" href="#"><i class="fas fa-comment-alt"></i> You recived direct message from <b>@zeld</b></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="fas fa-user"></i> Profile</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-envelope-open-text"></i> Messages <span class="badge badge-danger">New</span></a>
                        <a class="dropdown-item" href="#"><i class="fas fa-users-cog"></i> Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="fas fa-power-off"></i> Logout</a>
                    </div>
                </div> -->
            </div>
        </div>
    </nav>

    <div class="nav-pills-bg">
        <div class="container">
            <ul class="nav nav-pills nav-fill mt-1">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-home"></i> Homepage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-users"></i> Members</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-hotjar"></i> Recent Activity</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-search"></i> Search</a>
                </li>
            </ul>
        </div>
    </div>

    <nav class="breadcrumb-bg" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb breadcrumb-bg justify-content-center">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </div>
    </nav>

    <!-- <div class="container mb-4">
        <button type="button" class="btn btn-dark btn-block"><i class="fas fa-plus"></i> Start new thread</button>
    </div> -->

    <div class="container mb-5">
        <div class="card">
            <h5 class="card-header">Welcome!</h5>
            <div class="card-body">
                <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
                <p class="card-text">Omnis, exercitationem consectetur doloremque optio excepturi incidunt nobis perferendis ullam illum sequi, ducimus tempora blanditiis distinctio accusantium placeat corporis mollitia eius amet.</p>
                <a href="#" class="btn btn-light">Login</a> &nbsp; <a href="#" class="btn btn-light">Sign up</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-9">
                <img src="https://avatars2.githubusercontent.com/u/38838501?s=64&v=4" width="38" alt="" />
                <b>@JohnWatson</b> started a thread &dash;
                <span class="text-muted">8 minutes ago</span>

                <div style="border: 1px #f2f2f2 solid; padding: 15px; margin-left: 55px">
                    <div class="float-right ml-1 text-center" style="border: 1px #f2f2f2 solid; padding: 10px 20px 10px 20px;">
                        <i class="fas fa-lg fa-star" style="color: #e2e216"></i><br />
                        <b>125</b>
                    </div>

                    <h4><a style="color: #444444" href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></h4>

                    <div style="font-size: 14px" class="text-muted">
                        Dolores, saepe. Assumenda vitae eaque libero asperiores totam delectus, odit consequuntur! Explicabo rem voluptatum recusandae similique vero iure totam cum sint tenetur.
                    </div>

                    <hr />

                    <a href="#" class="badge badge-dark"><i class="fas fa-tags"></i> libero</a> <a href="#" class="badge badge-dark"><i class="fas fa-tags"></i> Dolores</a> <a href="#" class="badge badge-dark"><i class="fas fa-tags"></i> Explicabo</a> + 6 more

                    <div class="float-right" style="font-size: 14px">
                        <span class="badge badge-light">1247</span> views
                        <span class="badge badge-light">13</span> replies
                    </div>
                </div>

                <div class="mt-4">
                    <img src="https://i.stack.imgur.com/gLu5N.jpg?s=32&g=1" width="38" alt="" />
                    <b>@SherlockHolmes</b> started a thread &dash;
                    <span class="text-muted">8 minutes ago</span>

                    <div style="border: 1px #f2f2f2 solid; padding: 15px; margin-left: 55px">
                        <div class="float-right ml-3 text-center" style="border: 1px #f2f2f2 solid; padding: 10px 20px 10px 20px;">
                            <i class="fas fa-lg fa-star" style="color: #e2e216"></i><br />
                            <b>3871</b>
                        </div>

                        <h4><a style="color: #444444" href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></h4>

                        <div style="font-size: 14px" class="text-muted">
                            Dolores, saepe. Assumenda vitae eaque libero asperiores totam delectus, odit consequuntur! Explicabo rem voluptatum recusandae similique vero iure totam cum sint tenetur.
                        </div>

                        <hr />

                        <a href="#" class="badge badge-dark"><i class="fas fa-tags"></i> libero</a> <a href="#" class="badge badge-dark"><i class="fas fa-tags"></i> Dolores</a> <a href="#" class="badge badge-dark"><i class="fas fa-tags"></i> Explicabo</a> + 6 more

                        <div class="float-right" style="font-size: 14px">
                            <span class="badge badge-light">1247</span> views
                            <span class="badge badge-light">13</span> replies
                        </div>
                    </div>
                </div>

                <div class="mt-4">
                    <img src="https://i.stack.imgur.com/gLu5N.jpg?s=32&g=1" width="38" alt="" />
                    <b>@SherlockHolmes</b> started a thread &dash;
                    <span class="text-muted">8 minutes ago</span>

                    <div style="border: 1px #f2f2f2 solid; padding: 15px; margin-left: 55px">
                        <div class="float-right ml-3 text-center" style="border: 1px #f2f2f2 solid; padding: 10px 20px 10px 20px;">
                            <i class="fas fa-lg fa-star" style="color: #b2b2b2"></i><br />
                            <b>0</b>
                        </div>

                        <h4><a style="color: #444444" href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></h4>

                        <div style="font-size: 14px" class="text-muted">
                            Dolores, saepe. Assumenda vitae eaque libero asperiores totam delectus, odit consequuntur! Explicabo rem voluptatum recusandae similique vero iure totam cum sint tenetur.
                        </div>

                        <hr />

                        <a href="#" class="badge badge-dark"><i class="fas fa-tags"></i> libero</a> <a href="#" class="badge badge-dark"><i class="fas fa-tags"></i> Dolores</a> <a href="#" class="badge badge-dark"><i class="fas fa-tags"></i> Explicabo</a> + 6 more

                        <div class="float-right" style="font-size: 14px">
                            <span class="badge badge-light">1247</span> views
                            <span class="badge badge-light">13</span> replies
                        </div>
                    </div>
                </div>

                <div class="mt-4">
                    <img src="https://i.stack.imgur.com/gLu5N.jpg?s=32&g=1" width="38" alt="" />
                    <b>@SherlockHolmes</b> started a thread &dash;
                    <span class="text-muted">8 minutes ago</span>

                    <div style="border: 1px #f2f2f2 solid; padding: 15px; margin-left: 55px">
                        <div class="float-right ml-3 text-center" style="border: 1px #f2f2f2 solid; padding: 10px 20px 10px 20px;">
                            <i class="fas fa-lg fa-star" style="color: #e2e216"></i><br />
                            <b>11k+</b>
                        </div>

                        <h4><a style="color: #444444" href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></h4>

                        <div style="font-size: 14px" class="text-muted">
                            Dolores, saepe. Assumenda vitae eaque libero asperiores totam delectus, odit consequuntur! Explicabo rem voluptatum recusandae similique vero iure totam cum sint tenetur.
                        </div>

                        <hr />

                        <a href="#" class="badge badge-dark"><i class="fas fa-tags"></i> libero</a> <a href="#" class="badge badge-dark"><i class="fas fa-tags"></i> Dolores</a> <a href="#" class="badge badge-dark"><i class="fas fa-tags"></i> Explicabo</a> + 6 more

                        <div class="float-right" style="font-size: 14px">
                            <span class="badge badge-light">1247</span> views
                            <span class="badge badge-light">13</span> replies
                        </div>
                    </div>
                </div>

                <div class="mt-4">
                    <img src="https://i.stack.imgur.com/gLu5N.jpg?s=32&g=1" width="38" alt="" />
                    <b>@SherlockHolmes</b> started a thread &dash;
                    <span class="text-muted">8 minutes ago</span>

                    <div style="border: 1px #f2f2f2 solid; padding: 15px; margin-left: 55px">
                        <div class="float-right ml-3 text-center" style="border: 1px #f2f2f2 solid; padding: 10px 20px 10px 20px;">
                            <i class="fas fa-lg fa-star" style="color: #e2e216"></i><br />
                            <b>8001</b>
                        </div>

                        <h4><a style="color: #444444" href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></h4>

                        <div style="font-size: 14px" class="text-muted">
                            Dolores, saepe. Assumenda vitae eaque libero asperiores totam delectus, odit consequuntur! Explicabo rem voluptatum recusandae similique vero iure totam cum sint tenetur.
                        </div>

                        <hr />

                        <a href="#" class="badge badge-dark"><i class="fas fa-tags"></i> libero</a> <a href="#" class="badge badge-dark"><i class="fas fa-tags"></i> Dolores</a> <a href="#" class="badge badge-dark"><i class="fas fa-tags"></i> Explicabo</a> + 6 more

                        <div class="float-right" style="font-size: 14px">
                            <span class="badge badge-light">1247</span> views
                            <span class="badge badge-light">13</span> replies
                        </div>
                    </div>
                </div>

                <nav class="mt-3">
                    <ul class="pagination justify-content-end">
                        <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                        <li class="page-item"><a class="page-link" href="#">7</a></li>
                        <li class="page-item"><a class="page-link" href="#">8</a></li>
                        <li class="page-item"><a class="page-link" href="#">9</a></li>
                        <li class="page-item"><a class="page-link" href="#">10</a></li>
                        <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="col-3">
                <div class="card">
                    <div class="card-header">
                        <i class="fab fa-firstdraft"></i> Recent discussions
                    </div>
                    
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="float-left pr-2 pt-0">
                                <img src="https://avatars2.githubusercontent.com/u/38838501?s=64&v=4" width="24" alt="" />
                            </div>
                            <b>Cras justo odio</b><br />
                            <small class="text-small text-muted">by <b>@JohnWatson</b></small>
                        </li>
                        <li class="list-group-item">
                            <div class="float-left pr-2 pt-0">
                                <img src="https://i.stack.imgur.com/gLu5N.jpg?s=32&g=1" width="24" alt="" />
                            </div>
                            <b>Dapibus ac facilisis in</b><br />
                            <small class="text-small text-muted">by <b>@JohnWatson</b></small>
                        </li>
                        <li class="list-group-item">
                            <div class="float-left pr-2 pt-0">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1Yfv4XgKWqlXmBUk6RBsurYs10Rd3jDnm_lxfKsPG1QiIwWOe&s" width="24" alt="" />
                            </div>
                            <b>Hic quas sapiente reprehen...</b><br />
                            <small class="text-small text-muted">by <b>@JohnWatson</b></small>
                        </li>
                        <li class="list-group-item">
                            <div class="float-left pr-2 pt-0">
                                <img src="https://avatars2.githubusercontent.com/u/38838501?s=64&v=4" width="24" alt="" />
                            </div>
                            <b>Daliquam obcaecati eligendi</b><br />
                            <small class="text-small text-muted">by <b>@JohnWatson</b></small>
                        </li>
                        <li class="list-group-item">
                            <div class="float-left pr-2 pt-0">
                                <img src="https://i.stack.imgur.com/gLu5N.jpg?s=32&g=1" width="24" alt="" />
                            </div>
                            <b>Bearum repreherit recusa...</b><br />
                            <small class="text-small text-muted">by <b>@JohnWatson</b></small>
                        </li>
                        <li class="list-group-item">
                            <div class="float-left pr-2 pt-0">
                                <img src="https://avatars2.githubusercontent.com/u/38838501?s=64&v=4" width="24" alt="" />
                            </div>
                            <b>Vat eveniet rem amet</b><br />
                            <small class="text-small text-muted">by <b>@JohnWatson</b></small>
                        </li>
                        <li class="list-group-item">
                            <div class="float-left pr-2 pt-0">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1Yfv4XgKWqlXmBUk6RBsurYs10Rd3jDnm_lxfKsPG1QiIwWOe&s" width="24" alt="" />
                            </div>
                            <b>Rquas sapiente reprehender...</b><br />
                            <small class="text-small text-muted">by <b>@JohnWatson</b></small>
                        </li>
                    </ul>
                </div>

                <div class="card mt-3">
                    <div class="card-header">
                        <i class="fas fa-tags"></i> Popular tags
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <span class="badge badge-dark">consectetur</span>
                            <span class="badge badge-dark">Magni</span>
                            <span class="badge badge-dark">Sint</span>
                            <span class="badge badge-dark">Lorem</span>
                            <span class="badge badge-dark">amet</span>
                            <span class="badge badge-dark">Odio</span>
                            <span class="badge badge-dark">quidem</span>
                            <span class="badge badge-dark">Lorem</span>
                            <span class="badge badge-dark">dolorum</span>
                            <span class="badge badge-dark">Lorem</span>
                            <span class="badge badge-dark">consectetur</span>
                            <span class="badge badge-dark">Magni</span>
                            <span class="badge badge-dark">Sint</span>
                            <span class="badge badge-dark">Lorem</span>
                            <span class="badge badge-dark">amet</span>
                            <span class="badge badge-dark">Odio</span>
                            <span class="badge badge-dark">quidem</span>
                            <span class="badge badge-dark">Lorem</span>

                            <div class="text-right">
                                + 250 more
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="card mt-3">
                    <div class="card-header">
                        <i class="fas fa-pepper-hot"></i> Hot threads
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="float-left pr-2 pt-0">
                                <img src="https://avatars2.githubusercontent.com/u/38838501?s=64&v=4" width="24" alt="" />
                            </div>

                            <div class="float-right ml-3 text-center">
                                <i class="fas fa-lg fa-star" style="color: #e2e216"></i>
                                <b>11587</b>
                            </div>

                            <a style="color: #444444" href="#"><b>Cras justo odio</b></a><br />

                            <small class="text-small text-muted">by <b>@JohnWatson</b></small>
                        </li>
                        <li class="list-group-item">
                            <div class="float-left pr-2 pt-0">
                                <img src="https://i.stack.imgur.com/gLu5N.jpg?s=32&g=1" width="24" alt="" />
                            </div>

                            <div class="float-right ml-3 text-center">
                                <i class="fas fa-lg fa-star" style="color: #e2e216"></i>
                                <b>1122</b>
                            </div>

                            <a style="color: #444444" href="#"><b>Vestibulum at eros</b></a><br />

                            <small class="text-small text-muted">by <b>@JohnWatson</b></small>
                        </li>
                        <li class="list-group-item">
                            <div class="float-left pr-2 pt-0">
                                <img src="https://avatars2.githubusercontent.com/u/38838501?s=64&v=4" width="24" alt="" />
                            </div>

                            <div class="float-right ml-3 text-center">
                                <i class="fas fa-lg fa-star" style="color: #e2e216"></i>
                                <b>885</b>
                            </div>

                            <a style="color: #444444" href="#"><b>VDapibus facilisis...</b></a><br />

                            <small class="text-small text-muted">by <b>@JohnWatson</b></small>
                        </li>
                        <li class="list-group-item">
                            <div class="float-left pr-2 pt-0">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1Yfv4XgKWqlXmBUk6RBsurYs10Rd3jDnm_lxfKsPG1QiIwWOe&s" width="24" alt="" />
                            </div>

                            <div class="float-right ml-3 text-center">
                                <i class="fas fa-lg fa-star" style="color: #e2e216"></i>
                                <b>335</b>
                            </div>

                            <a style="color: #444444" href="#"><b>Exeitaonem cumqu...</b></a><br />

                            <small class="text-small text-muted">by <b>@JohnWatson</b></small>
                        </li>
                        <li class="list-group-item">
                            <div class="float-left pr-2 pt-0">
                                <img src="https://avatars2.githubusercontent.com/u/38838501?s=64&v=4" width="24" alt="" />
                            </div>

                            <div class="float-right ml-3 text-center">
                                <i class="fas fa-lg fa-star" style="color: #e2e216"></i>
                                <b>299</b>
                            </div>

                            <a style="color: #444444" href="#"><b>amet queritatis...</b></a><br />

                            <small class="text-small text-muted">by <b>@JohnWatson</b></small>
                        </li>
                        <li class="list-group-item">
                            <div class="float-left pr-2 pt-0">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1Yfv4XgKWqlXmBUk6RBsurYs10Rd3jDnm_lxfKsPG1QiIwWOe&s" width="24" alt="" />
                            </div>

                            <div class="float-right ml-3 text-center">
                                <i class="fas fa-lg fa-star" style="color: #e2e216"></i>
                                <b>89</b>
                            </div>

                            <a style="color: #444444" href="#"><b>sit amet consectetur...</b></a><br />

                            <small class="text-small text-muted">by <b>@JohnWatson</b></small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="stats-box mt-4 mb-5">
        <div class="container p-5">
        <h3>Statistics</h3>
        <hr />
        <div class="row mt-3">
            <div class="col">
                Currently online <span class="online-users-number">98</span> users and <span class="online-users-number">397</span> guests.<br />
                Logged in users:<br />
                <div class="mt-2">
                    <b>@Sma</b>, <b>@tuldp</b>, <b>@alice2090</b>, <b>@pol0909</b>, <b>@Sma</b>, <b>@tuldp</b>, <b>@alice2090</b>, <b>@pol0909</b>, <b>@Sma</b>, <b>@tuldp</b>, <b>@alice2090</b>, <b>@pol0909</b>, <b>@Sma</b>, <b>@tuldp</b>, <b>@alice2090</b>, <b>@pol0909</b>, <b>@Sma</b>, <b>@tuldp</b>, <b>@alice2090</b>, <b>@pol0909</b>, <b>@Sma</b>, <b>@tuldp</b>, <b>@alice2090</b>, <b>@pol0909</b>
                </div>
            </div>
            <div class="col col-lg-2">
                <h4>
                    47 112 <span class="text-muted">posts</span><br />
                    1514 <span class="text-muted">threads</span>
                    6470 <span class="text-muted">users</span>
                </h4>
            </div>
        </div>
        </div>
    </div>

    <footer class="text-center mb-4 text-muted">
        &copy; 2020 - Maciej Schmidt
    </footer>

    <script src="https://kit.fontawesome.com/123c96bf9e.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>