<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/app.css">
    <title>B.C.Kit - Page View</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">B.C.Kit</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto"></ul>
                <form class="form-inline my-2 my-lg-0 mr-4">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                </form>
                
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle text-decoration-none" id="dropdownMenuButton" data-reference="parent" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                        <img src="../assets/img/avatar_blank.jpg" class="rounded" width="42" alt="Avatar" />
                        <span class="user-avatar-hot">
                            <i class="text-danger fab fa-hotjar"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <div class="ml-4 text-muted">Hello, Maciej</div>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Notifications</h6>
                        <a class="dropdown-item" href="#"><span class="badge badge-danger">New</span> <i class="fas fa-plus-circle"></i> You are recived reputation point in post <b>#81</b></a>
                        <a class="dropdown-item" href="#"><span class="badge badge-danger">New</span> <i class="fas fa-at"></i> @Yump mentioned you in post <b>#588</b></a>
                        <a class="dropdown-item" href="#"><i class="fas fa-comment-alt"></i> You recived direct message from <b>@buku3</b></a>
                        <a class="dropdown-item" href="#"><i class="fas fa-plus-circle"></i> You are recived reputation point in post <b>#11</b></a>
                        <a class="dropdown-item" href="#"><i class="fas fa-comment-alt"></i> You recived direct message from <b>@zeld</b></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="fas fa-user"></i> Profile</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-envelope-open-text"></i> Messages <span class="badge badge-danger">New</span></a>
                        <a class="dropdown-item" href="#"><i class="fas fa-users-cog"></i> Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="fas fa-power-off"></i> Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="nav-pills-bg">
        <div class="container">
            <ul class="nav nav-pills nav-fill mt-1">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-home"></i> Homepage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-users"></i> Members</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-hotjar"></i> Recent Activity</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-search"></i> Search</a>
                </li>
            </ul>
        </div>
    </div>

    <nav class="breadcrumb-bg" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb breadcrumb-bg justify-content-center">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </div>
    </nav>

    <div class="container">
        <h2>Kategorie</h2>
        <div class="category-name-box category-unread">
            <div class="category-last-activity-user">
                <img class="rounded float-left mr-2" src="https://picsum.photos/48/48" alt="Avatar" />
                <a href="#" class="thread-last-title">Lorem, ipsum dolor sit amet...</a><br />
                <span class="thread-last-title-post-by-text text-muted">Posted by</span>
                <span class="thread-last-username">@Audiko</span><br />
                <span class="thread-last-title-post-by-text text-muted">8 minutes ago</span>
            </div>
            <div class="category-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
            <div class="category-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus dolorum alias laborum iure non! At quaerat nihil eos commodi quis, esse maiores nulla optio quod blanditiis iste quisquam eveniet quam.</div>
        </div>
        <hr />
        <div class="category-name-box category-read">
            <div class="category-last-activity-user">
                <img class="rounded float-left mr-2" src="https://picsum.photos/48/48" alt="Avatar" />
                <a href="#" class="thread-last-title">Lorem, ipsum dolor sit amet...</a><br />
                <span class="thread-last-title-post-by-text text-muted">Posted by</span>
                <span class="thread-last-username">@Audiko</span><br />
                <span class="thread-last-title-post-by-text text-muted">8 minutes ago</span>
            </div>
            <div class="category-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
            <div class="category-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus dolorum alias laborum iure non! At quaerat nihil eos commodi quis, esse maiores </div>
        </div>
        <hr />
        <div class="category-name-box category-unread">
            <div class="category-last-activity-user">
                <img class="rounded float-left mr-2" src="https://picsum.photos/48/48" alt="Avatar" />
                <a href="#" class="thread-last-title">Lorem, ipsum dolor sit amet...</a><br />
                <span class="thread-last-title-post-by-text text-muted">Posted by</span>
                <span class="thread-last-username">@Audiko</span><br />
                <span class="thread-last-title-post-by-text text-muted">8 minutes ago</span>
            </div>
            <div class="category-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
            <div class="category-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus dolorum alias laborum iure non! </div>
        </div>
        <hr />
        <div class="category-name-box category-read">
            <div class="category-last-activity-user">
                <img class="rounded float-left mr-2" src="https://picsum.photos/48/48" alt="Avatar" />
                <a href="#" class="thread-last-title">Lorem, ipsum dolor sit amet...</a><br />
                <span class="thread-last-title-post-by-text text-muted">Posted by</span>
                <span class="thread-last-username">@Audiko</span><br />
                <span class="thread-last-title-post-by-text text-muted">8 minutes ago</span>
            </div>
            <div class="category-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
            <div class="category-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus dolorum alias laborum iure non! At quaerat nihil eos commodi quis, esse maiores nulla optio quod blanditiis iste quisquam eveniet quam.</div>
        </div>
        <hr />
        <div class="category-name-box category-read">
            <div class="category-last-activity-user">
                <img class="rounded float-left mr-2" src="https://picsum.photos/48/48" alt="Avatar" />
                <a href="#" class="thread-last-title">Lorem, ipsum dolor sit amet...</a><br />
                <span class="thread-last-title-post-by-text text-muted">Posted by</span>
                <span class="thread-last-username">@Audiko</span><br />
                <span class="thread-last-title-post-by-text text-muted">8 minutes ago</span>
            </div>
            <div class="category-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
            <div class="category-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus dolorum alias laborum iure non! At quaerat nihil eos commodi quis, esse maiores nulla optio quod blanditiis iste quisquam eveniet quam.</div>
        </div>
        <hr />
        <div class="category-name-box category-read">
            <div class="category-last-activity-user">
                <img class="rounded float-left mr-2" src="https://picsum.photos/48/48" alt="Avatar" />
                <a href="#" class="thread-last-title">Lorem, ipsum dolor sit amet...</a><br />
                <span class="thread-last-title-post-by-text text-muted">Posted by</span>
                <span class="thread-last-username">@Audiko</span><br />
                <span class="thread-last-title-post-by-text text-muted">8 minutes ago</span>
            </div>
            <div class="category-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
            <div class="category-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus dolorum alias laborum iure non! At quaerat nihil eos commodi quis, esse maiores nulla optio quod blanditiis iste quisquam eveniet quam.</div>
        </div>
        <hr />
        <div class="category-name-box category-unread">
            <div class="category-last-activity-user">
                <img class="rounded float-left mr-2" src="https://picsum.photos/48/48" alt="Avatar" />
                <a href="#" class="thread-last-title">Lorem, ipsum dolor sit amet...</a><br />
                <span class="thread-last-title-post-by-text text-muted">Posted by</span>
                <span class="thread-last-username">@Audiko</span><br />
                <span class="thread-last-title-post-by-text text-muted">8 minutes ago</span>
            </div>
            <div class="category-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
            <div class="category-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus dolorum alias laborum iure non! At quaerat nihil eos commodi quis, esse maiores nulla optio quod blanditiis iste quisquam eveniet quam.</div>
        </div>
        <hr />
        <div class="category-name-box category-unread">
            <div class="category-last-activity-user">
                <img class="rounded float-left mr-2" src="https://picsum.photos/48/48" alt="Avatar" />
                <a href="#" class="thread-last-title">Lorem, ipsum dolor sit amet...</a><br />
                <span class="thread-last-title-post-by-text text-muted">Posted by</span>
                <span class="thread-last-username">@Audiko</span><br />
                <span class="thread-last-title-post-by-text text-muted">8 minutes ago</span>
            </div>
            <div class="category-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
            <div class="category-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus dolorum alias laborum iure non! At quaerat nihil eos commodi quis, esse maiores nulla optio quod blanditiis iste quisquam eveniet quam.</div>
        </div>
        <hr />
        <div class="category-name-box category-read">
            <div class="category-last-activity-user">
                <img class="rounded float-left mr-2" src="https://picsum.photos/48/48" alt="Avatar" />
                <a href="#" class="thread-last-title">Lorem, ipsum dolor sit amet...</a><br />
                <span class="thread-last-title-post-by-text text-muted">Posted by</span>
                <span class="thread-last-username">@Audiko</span><br />
                <span class="thread-last-title-post-by-text text-muted">8 minutes ago</span>
            </div>
            <div class="category-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
            <div class="category-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus dolorum alias laborum iure non! At quaerat nihil eos commodi quis, esse maiores nulla optio quod blanditiis iste quisquam eveniet quam.</div>
        </div>
    </div>
    <div class="stats-box mt-4 mb-5">
        <div class="container p-5">
        <h3>Statystyki</h3>
        <hr />
        <div class="row mt-3">
            <div class="col">
                Currently online <span class="online-users-number">98</span> users and <span class="online-users-number">397</span> guests.<br />
                Logged in users:<br />
                <div class="mt-2">
                    <b>@Sma</b>, <b>@tuldp</b>, <b>@alice2090</b>, <b>@pol0909</b>, <b>@Sma</b>, <b>@tuldp</b>, <b>@alice2090</b>, <b>@pol0909</b>
                </div>
            </div>
            <div class="col col-lg-2">
                <h4>
                    47 112 <span class="text-muted">posts</span><br />
                    1514 <span class="text-muted">threads</span>
                    6470 <span class="text-muted">users</span>
                </h4>
            </div>
        </div>
        </div>
    </div>

    <footer class="text-center mb-4 text-muted">
        &copy; 2020 - Maciej Schmidt
    </footer>

    <script src="https://kit.fontawesome.com/123c96bf9e.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>